@charset "UTF-8";

.input-search {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.input {
    display: block;
    padding: 10px;
}

#company {
    width: 300px;
}

#fantasyName {
    width: 300px;
}